apiVersion: apps/v1
kind: Deployment
metadata:
  name: django-starter-app
  labels:
    app: django-starter
spec:
  replicas: 1
  selector:
    matchLabels:
      app: django-starter
  template:
    metadata:
      labels:
        app: django-starter
    spec:
      imagePullSecrets:
        - name: harbor-registry-secret
      containers:
        - image: harbor.arpansahu.space/library/django_starter:latest
          name: django-starter
          envFrom:
            - secretRef:
                name: django-starter-secret
          ports:
            - containerPort: 8016
              name: gunicorn