services:
  web:
    build:  # This section will be used when running locally
      context: .
      dockerfile: Dockerfile
    image: harbor.arpansahu.me/library/django_starter:latest
    env_file: ./.env
    container_name: django_starter
    # volumes:
    #   - .:/app  # Only for local development, commented out for production deployment
    ports:
      - "8016:8016"
      - "8054:8054"
    restart: unless-stopped