{% extends 'base.html' %}

{% block stylesheets %}
<style>
  body {
    overflow: hidden;
  }
  .main-content {
    height: calc(100vh - 80px);
    overflow: hidden;
  }
  .page-header {
    height: 100%;
    min-height: auto !important;
  }
  .done-container {
    height: 100%;
    display: flex;
    align-items: center;
  }
  .card-plain {
    margin: 0 !important;
  }
</style>
{% endblock stylesheets %}

{% block content %}



</div>
  <section>
    <div class="page-header">
      <div class="container done-container">
        <div class="row w-100">
          <div class="col-xl-4 col-lg-5 col-md-6 d-flex flex-column mx-auto">
            <div class="card card-plain">
              <div class="card-header pb-0 text-left bg-transparent">
                	<div class="d-flex flex-column">
                          <p class="m-auto p-2">
                            We've emailed you instructions for setting your password, if an account exists with the email you entered.
                            You should receive them shortly.
                          </p>
                          <p class="m-auto p-2">
                            If you don't receive an email, please make sure you've entered the address you registered with,
                            and check your spam folder.
                          </p>
                          <p class="m-auto p-2">
                            Or You can login <a href="{% url 'login' %}">Here</a>
                          </p>
                          <p class="m-auto p-2"><a href="{% url 'home' %}">Return to home page</a></p>
                    </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

{% endblock %}