{% load static %}
<footer class="footer pt-2 pb-2">
<div class="container-fluid">
  <div class="row align-items-center justify-content-lg-between">
    <div class="col-lg-6 mb-lg-0 mb-2">
      <div class="copyright text-center text-sm text-muted text-lg-start" style="font-size: 0.75rem;">
        &copy; <a href="https://arpansahu.space" class="font-weight-bold" target="_blank">arpansahu.space</a>
        <span class="mx-2">|</span>
        <a href="{% url 'privacy_policy' %}" class="text-muted">Privacy Policy</a>
        <span class="mx-2">|</span>
        <a href="{% url 'terms_of_service' %}" class="text-muted">Terms of Service</a>
      </div>
    </div>
    <div class="col-lg-6">
      <ul class="nav nav-footer justify-content-center justify-content-lg-end">
        <li class="nav-item">
            <a class="btn btn-block btn-social btn-github btn-sm" href="https://github.com/arpansahu/django_starter" style="padding: 0.25rem 0.5rem; font-size: 0.75rem;">
                <span class="fa-brands fa-github" style="margin-right: 5px"></span> Clone This Repo
            </a>
            <a class="btn btn-block btn-social btn-github btn-sm" href="https://github.com/arpansahu" style="padding: 0.25rem 0.5rem; font-size: 0.75rem;">
                <span class="fa-brands fa-github" style="margin-right: 5px"></span> Follow on Github
            </a>
            <a class="btn btn-block btn-social btn-github btn-sm" href="https://arpansahu.space" style="padding: 0.25rem 0.5rem; font-size: 0.75rem;">
              <span class="fa"><img src="{% static 'arpansahu-footer.png' %}" width="11" height="11"></span> Portfolio
            </a>
            <a class="btn btn-block btn-social btn-linkedin btn-sm" href="https://www.linkedin.com/in/arpansahu" style="padding: 0.25rem 0.5rem; font-size: 0.75rem;">
                <span class="fa-brands fa-linkedin" style="margin-right: 5px"></span> Follow on LinkedIn
            </a>
        </li>
      </ul>
    </div>
  </div>
</div>
</footer>
