{% extends 'base.html' %}
{% load static %}
{% block title %} Django Starter {% endblock title %}
{% load custom_tags %}
<!-- Specific CSS goes HERE -->
{% block stylesheets %}

{% endblock stylesheets %}

{% block content %}
<div class="container-fluid py-4">
    <h1>Task Progress</h1>
    <button id="start-task" class="btn btn-primary">Start Task</button>
    <div id="progress-bar-ajax">
        <div class="progress-wrapper">  
            <div id="progress-bar" class="progress-bar" style="background-color: #68a9ef; width: 0%;">
                &nbsp;
            </div>
        </div>
        '<div id="progress-bar-message">Waiting for progress to start...</div>
    </div>
</div>
{% endblock content %}

<!-- Specific JS goes HERE -->
{% block javascripts %}
<script src="{% static 'celery_progress/celery_progress.js' %}"></script>
<script src="{% static 'celery_progress/celery_websocket.js' %}"></script>
<script>
    const startTaskButton = document.getElementById('start-task');

    startTaskButton.addEventListener('click', () => {
        startTaskButton.disabled = true;

        fetch('/start-task/', {
            method: 'POST',
            headers: {
                'X-CSRFToken': '{{ csrf_token }}',
                'Content-Type': 'application/json'
            }
        })
        .then(response => response.json())
        .then(data => {
            var progressUrl = '/ws/progress/' + data.task_id + '/';
            CeleryWebSocketProgressBar.initProgressBar(progressUrl);
        })
        .catch(error => {
            progressBarMessage.textContent = "Error starting task: " + error;
            startTaskButton.disabled = false;
        });
    });
</script>
{% endblock javascripts %}